<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tbxx.wpct.mapper.CheckMapper">

    <resultMap id="CheckMap" type="com.tbxx.wpct.entity.PayInfo">
        <id property="payinfoId" column="payinfo_id"/>
        <result property="villageName" column="village_name"/>
        <result property="buildNo" column="build_no"/>
        <result property="roomNo" column="room_no"/>
        <result property="name" column="name"/>
        <result property="pid" column="pid"/>
        <result property="number" column="number"/>
        <result property="car" column="car"/>
        <result property="resident" column="resident"/>
        <result property="conditionNumber" column="condition_number"/>
        <result property="personNumber" column="person_number"/>
        <result property="payStatus" column="pay_status"/>
        <result property="guaranteeType" column="guarantee_type"/>
        <result property="payBeginTime" column="pay_begin_time"/>
        <result property="payEndTime" column="pay_end_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remarks" column="remarks"/>
        <result property="updateUser" column="update_user"/>
        <result property="OrderNo" column="order_no"/>
        <result property="relation" column="relation"/>
        <collection property="consumption" ofType="com.tbxx.wpct.entity.Consumption">
            <result column="build_id" property="buildId"/>
            <result column="area_fee" property="areaFee"/>
            <result column="area" property="area"/>
            <result column="car_fee" property="carFee"/>
            <result column="limit_area" property="limitArea"/>
            <result column="over_area" property="overArea"/>
            <result column="overarea_fee" property="overareaFee"/>
            <result column="property" property="property"/>
            <result column="property_fee" property="propertyFee"/>
            <result column="deposit" property="deposit"/>
            <result column="electricity" property="electricity"/>
            <result column="water_fee" property="waterFee"/>
            <result column="gas_fee" property="gasFee"/>
            <result column="a_fee" property="aFee"/>
            <result column="b_fee" property="bFee"/>
            <result column="c_fee" property="cFee"/>
            <result column="d_fee" property="dFee"/>
            <result column="discount" property="discount"/>
            <result column="month_cost" property="monthCost"></result>
        </collection>
    </resultMap>

    <select id="checksList" resultMap="CheckMap">
        SELECT  *  FROM  tb_payinfo p,tb_consumption c
            WHERE p.payinfo_id = c.build_id AND
            p.pay_begin_time >DATE_SUB(CURDATE(), INTERVAL #{month} MONTH)
            order by  pay_begin_time desc
    </select>

    <select id="sendMsg" resultType="com.tbxx.wpct.dto.WechatUserDTO">
        SELECT  tbi.openid,tbi.room_no,tbi.village_name,tbi.build_no  FROM  tb_order_info o
                   left join tb_build_info tbi on o.build_no = tbi.build_no
                    and o.village_name=tbi.village_name and o.room_no=tbi.room_no
        WHERE  o.order_status= '未支付'
    </select>


    <select id="selectOrderNo" resultType="com.tbxx.wpct.entity.BuildInfo">
        select  *
            from tb_build_info b
            order by b.village_name,b.build_no,b.room_no
    </select>



</mapper>

