<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tbxx.wpct.mapper.ExamineMapper">

    <resultMap id="list" type="com.tbxx.wpct.entity.Examine">
        <id property="id" column="id"/>
        <result property="openid" column="openid"/>
        <result property="examineMsg" column="examine_msg"/>
        <result property="resolveMsg" column="resolve_msg"/>
        <result property="examineStatus" column="examine_status"/>
        <result property="commitTime" column="commit_time"/>
        <result property="examineTime" column="examine_time"/>
        <collection property="wechatUser" ofType="com.tbxx.wpct.entity.WechatUser">
            <result column="name" property="name"/>
            <result column="number" property="number"/>
        </collection>
        <collection property="buildInfo" ofType="com.tbxx.wpct.entity.BuildInfo">
            <result property="villageName" column="village_name"/>
            <result property="buildNo" column="build_no"/>
            <result property="roomNo" column="room_no"/>
            <result property="relation" column="relation"/>
        </collection>
    </resultMap>
    <select id="listExamine" resultMap="list">
        SELECT  *  from
             tb_examine e
            left join tb_wechat_user w on e.openid=w.openid
            left join tb_build_info b on e.openid=b.openid
        order by e.commit_time desc
    </select>

</mapper>