<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tbxx.wpct.mapper.OrderInfoMapper">
    <select id="getById" resultType="com.tbxx.wpct.entity.OrderInfo">SELECT * FROM tb_order_info WHERE order_no=#{id}</select>
</mapper>