<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tbxx.wpct.mapper.PayInfoMapper">
    <resultMap id="PayInfoMap" type="com.tbxx.wpct.entity.PayInfo" >
        <id column="payinfo_id" property="payinfoId" jdbcType="VARCHAR" />
        <result  property="villageName" column="village_name" jdbcType="VARCHAR" />
        <result  property="buildNo" column="build_no" />
        <result  property="roomNo" column="room_no" />
        <result  property="name" column="name" />
        <result  property="pid" column="pid" />
        <result  property="number" column="number" />
        <result  property="car" column="car" />
        <result  property="resident" column="resident" />
        <result  property="conditionNumber" column="condition_number" />
        <result  property="personNumber" column="person_number" />
        <result  property="payStatus" column="pay_status" />
        <result  property="houseType" column="house_type" />
        <result  property="payBeginTime" column="pay_begin_time"/>
        <result  property="payEndTime" column="pay_end_time" />
        <result  property="updateTime" column="update_time" />
        <result  property="remarks" column="remarks" />
        <result  property="updateUser" column="update_user" />
        <result  property="OrderNo" column="order_no" />
        <result  property="relation" column="relation" />
        <result  property="parking1" column="parking1" />
        <result  property="parking2" column="parking2" />
    </resultMap>
    <sql id="Base_Column_List" >
        payinfo_id,village_name,build_no,room_no,name,pid,number,car,resident,condition_number,
            person_number,pay_status,house_type,pay_begin_time,pay_end_time,update_time,
            remarks,update_user,order_no,relation,parking1,parking2
    </sql>
    <!--缴费多条件查询-->
    <select id="selectCondition" resultMap="PayInfoMap" >
        select <include refid="Base_Column_List"></include>
        from tb_payinfo
        <where>
            <if test="villageName != null and villageName != ''">
                and village_name =#{villageName}
            </if>
            <if test="buildNo != null and buildNo != ''">
                and build_no =#{buildNo}
            </if>
            <if test="name != null and name != ''">
                and name =#{name}
            </if>
            <if test="payStatus != null and payStatus != ''">
                and pay_status =#{payStatus}
            </if>
            <if test="(payBeginTime != null) and (payEndTime == null)">
                and pay_begin_time &gt;= #{payBeginTime}
            </if>
            <if test="(payEndTime != null) and (payBeginTime == null)">
                and pay_end_time &lt;= #{payEndTime}
            </if>
            <if test="(payBeginTime !=null) and (payEndTime != null)">
                and pay_begin_time &gt;= #{payBeginTime} and pay_end_time &lt;= #{payEndTime}
            </if>
        </where>
    </select>
</mapper>
