<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tbxx.wpct.mapper.PayInfoMapper">
    <resultMap id="PayInfoMap" type="com.tbxx.wpct.entity.PayInfo" >
        <id property="payinfoId" column="payinfo_id"/>
        <result property="villageName" column="village_name"></result>
        <result property="buildNo" column="build_no"></result>
        <result property="roomNo" column="room_no"></result>
        <result property="name" column="name"></result>
        <result property="pid" column="pid"></result>
        <result property="number" column="number"></result>
        <result property="car" column="car"></result>
        <result property="resident" column="resident"></result>
        <result property="conditionNumber" column="condition_number"></result>
        <result property="personNumber" column="person_number"></result>
        <result property="payStatus" column="pay_status"></result>
        <result property="guaranteeType" column="guarantee_type"></result>
        <result property="payBeginTime" column="pay_begin_time"></result>
        <result property="payEndTime" column="pay_end_time"></result>
        <result property="updateTime" column="update_time"></result>
        <result property="remarks" column="remarks"></result>
        <result property="updateUser" column="update_user"></result>
        <result property="OrderNo" column="order_no"></result>
        <result property="relation" column="relation"></result>
        <result property="carNumber" column="car_number"></result>
        <result property="houseType" column="house_type"></result>
        <association property="consumption" column="tb_consumption">
            <id property="buildId" column="build_id"></id>
            <result property="areaFee" column="area_fee"></result>
            <result property="area" column="area"></result>
            <result property="limitArea" column="limit_area"></result>
            <result property="overArea" column="over_area"></result>
            <result property="overareaFee" column="overarea_fee"></result>
            <result property="property" column="property"></result>
            <result property="propertyFee" column="property_fee"></result>
            <result property="deposit" column="deposit"></result>
            <result property="waterFee" column="water_fee"></result>
            <result property="electricity" column="electricity"></result>
            <result property="gasFee" column="gas_fee"></result>
            <result property="carFee" column="car_fee"></result>
            <result property="aFee" column="a_fee"></result>
            <result property="bFee" column="b_fee"></result>
            <result property="cFee" column="c_fee"></result>
            <result property="dFee" column="d_fee"></result>
            <result property="discount" column="discount"></result>
            <result property="liftFee" column="lift_fee"></result>
            <result property="gwaterFee" column="gwater_fee"></result>
            <result property="electricityFee" column="electricity_fee"></result>
            <result property="monthCost" column="month_cost"></result>
            <result property="otherFee" column="other_fee"></result>
            <result property="rent" column="rent"></result>
        </association>
    </resultMap>
    <!--缴费多条件查询-->
    <select id="selectCondition" resultMap="PayInfoMap">
        select
            payinfo_id, village_name, build_no, room_no, `name`, pid
            , `number`, car, resident, condition_number, person_number
            , pay_status, guarantee_type, pay_begin_time, pay_end_time
            , update_time, remarks, update_user, order_no, relation,build_id
            ,area_fee,area,limit_area,over_area,overarea_fee,property,property_fee
            ,deposit,water_fee,electricity,gas_fee,car_fee,a_fee,b_fee,c_fee,d_fee
            ,discount,lift_fee,gwater_fee,electricity_fee,month_cost,other_fee
        from tb_payinfo p left join tb_consumption c on p.payinfo_id = c.build_id
        <where>
            <if test="villageName != null and villageName != ''">
                and village_name =#{villageName}
            </if>
            <if test="buildNo != null and buildNo != ''">
                and build_no =#{buildNo}
            </if>
            <if test="name != null and name != ''">
                and `name` =#{name}
            </if>
            <if test="payStatus != null and payStatus != ''">
                and pay_status =#{payStatus}
            </if>
            <if test="(payBeginTime != null) and (payEndTime == null)">
                and pay_begin_time &gt;= #{payBeginTime}
            </if>
            <if test="(payEndTime != null) and (payBeginTime == null)">
                and pay_end_time &lt;= #{payEndTime}
            </if>
            <if test="(payBeginTime !=null) and (payEndTime != null)">
                and pay_begin_time &gt;= #{payBeginTime} and pay_end_time &lt;= #{payEndTime}
            </if>
        </where>


    </select>
</mapper>
