<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tbxx.wpct.mapper.SysUserMapper">

    <select id="findPermsListByRoleId" resultType="java.lang.String" >
        SELECT p.`permission_code`
        FROM sys_role_permission rp
                 LEFT JOIN sys_permission p
                           ON rp.`permission_id` = p.`id`
        WHERE rp.`role_id` = #{roleId}
    </select>

    <resultMap id="userMap" type="com.tbxx.wpct.util.UserList">
        <id column="userId" property="ID"/>
        <result column="username" property="userName"/>
        <result column="nickname" property="nickName"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
        <result column="roleId" property="roleId"/>
        <result column="roleName" property="roleName"/>
    </resultMap>
    <select id="findUserList" resultMap="userMap">
        SELECT 		u.*,
                      r.id        roleId,
                      r.role_name roleName
        FROM (
                 SELECT id                                      userId,
                        role_id					                roleId,
                        user_name                                username,
                        nick_name                                nickname,
                        create_time createTime,
                        update_time updateTime
                 FROM sys_user
                 ORDER BY id
             ) u
                 LEFT JOIN sys_role r ON r.id = u.roleId
        ORDER BY u.userId, r.id
    </select>

    <delete id="removeUserAllRole">
        delete
        from sys_user_role
        where user_id = #{userId}
    </delete>




</mapper>